body {
    /* set background color */
    background-color: #f9f9f9;
    font-family: Andale Mono, Helvetica, sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(https://fonts.google.com/specimen/Staatliches);
}

html {
    font-family: "myFont", "Bitstream Vera Serif", serif;
}

.p {
    font-family: myFont;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header {
    text-align: center;
}

ul, ol {
    display: inline-block;
    text-align: left;
    margin: 0em;
}

li.attendance ~ li {
    text-decoration: line-through;
}

p.foot + p {
    color:#26378d;
}

div.play {
    margin-top: 20px;
}

details {
    display: inline-block;
    text-align: left;
    margin: auto;
}

main h2 {
    width: 200px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #cee1ec;
    border: solid 1px steelblue;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

.play h2 {
    width: 200px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #cfe7d4;
    border-style: solid;
    border-width: 1px;
    border-color: #4a9445;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

.step {
    width: 500px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #e4e6e5;
    /* border: solid 1px #bebfb4; */
    border-radius: 6px;
    line-height: 15px;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    margin: auto auto auto auto;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    text-align: center;
}

h3 { word-spacing: 4mm; }

h4 { 
    font-size: 12pt; 
    text-decoration: underline;
}

.step > p {
    color: #26378d;
    font-size: large;
}

div p {
    min-width: none;
    font-size: 1em;
}

[class="play"] {
    text-align: center;
}

p:first-letter {
    font-size: 1.5em;
    text-decoration: none;
    min-width: 10px;
}

.container {
    display: flex;
    color: rgb(22, 66, 107);
    font-size: larger;
    text-align: center;
    line-height: 80px;
    background-color: hsl(0, 0%, 70%);
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0px;
    flex-direction: row;
    align-content: center;
    position: sticky;
    top: 0;
    opacity: 0.8;
}

#box1 {
    position: relative;
    width: 600px;
    background-color: #e0dddd;
    border-radius: 0px;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: 0.2rem solid rgb(74, 87, 100);
    flex-grow: 0.3;
    align-self: auto;
    align-items: stretch;
}

#box2 {
    position: absolute;
    background: rgb(74, 87, 100);
    width: 50px;
    height: 50px;
    right: 5px; 
    left: 15px;  
    top: 20px;
    flex-basis: auto;
}

#box3 {
    position: absolute;
    background: rgb(74, 87, 100);
    width: 50px;
    height: 50px;
    right: 15px; 
    top: 20px;
    flex-basis: auto;
}

.wrapper {
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 5px;
    column-gap: 5px;
    justify-items: center;
}

#item1 {
    align-self: flex-start;
    grid-column: span 3;
}

#item2 {
    align-self: center;
}

#item3 {
    align-self: flex-end;
}

@media screen and (max-width: 992px) {
    img {
      position: static;
    }
}

button:hover {
    color: rgb(91, 91, 234);
}

nav a:hover {
    color: rgb(35, 35, 213);
}

button:active {
    color: rgb(62, 158, 108);
}

main * {
    color: black;
}
