body {
    /* set background color */
    background-color: #f9f9f9;
    font-family: Andale Mono, Helvetica, sans-serif;
}

@font-face {
    font-family: myFont;
    src: url(https://fonts.google.com/specimen/Staatliches);
}

html {
    font-family: "myFont", "Bitstream Vera Serif", serif;
  }

.p {
    font-family: myFont;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

header {
    text-align: center;
}

ul, ol {
    display: inline-block;
    text-align: left;
    margin: 0em;
}

details {
    display: inline-block;
    text-align: left;
    margin: auto;
}

main h2 {
    width: 200px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #cee1ec;
    border: solid 1px steelblue;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

.play h2 {
    width: 200px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #cfe7d4;
    border: solid 1px #4a9445;
    border-radius: 6px;
    line-height: 18px;
    overflow: hidden;
    padding: 12px;
}

.step {
    width: 500px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #e4e6e5;
    /* border: solid 1px #bebfb4; */
    border-radius: 6px;
    line-height: 15px;
    overflow: hidden;
    padding: 12px;
    text-align: center;
    margin: auto auto auto auto;
}

h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    text-align: center;
}

.play {
    text-align: center;
}


/* h2 { 
    line-height: 1cm; 
    text-align: center;
    border: 1.5px solid rgb(80, 82, 82); 
    margin: 10px 10px 10px 10px;
    padding: 2px;
    display: table;
    margin-left: auto;
    margin-right: auto;
    border-radius:9px;
} */

h3 { word-spacing: 4mm; }

h4 { 
    font-size: 12pt; 
    text-decoration: underline;
}

p {
    font-size: 1em;
    min-width: none;
}

a[href*="notes"] {
    color: rgb(135, 36, 36);
}

p:first-letter {
    font-size: 1.5em;
    text-decoration: none;
    max-width: 10px;
}

.container {
    color: rgb(22, 66, 107);
    text-align: center;
    line-height: 80px;
    background-color: hsl(0, 0%, 70%);
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 0px;
    flex-direction: row;
    align-content: center;
    position: sticky;
    top: 0;
}

#box1 {
    position: relative;
    width: 600px;
    background-color: #e0dddd;
    border-radius: 0px;
    line-height: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    outline: 0.2rem solid rgb(74, 87, 100);
    flex-grow: 4;
    align-self: auto;
    align-items: stretch;
}

#box2 {
    position: absolute;
    background: rgb(74, 87, 100);
    width: 50px;
    height: 50px;
    right: 5px; 
    left: 15px;  
    top: 20px;
    flex-basis: auto;
}

#box3 {
    position: absolute;
    background: rgb(74, 87, 100);
    width: 50px;
    height: 50px;
    right: 15px; 
    top: 20px;
    flex-basis: auto;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    gap: 5px;
    column-gap: 5px;
    justify-items: center;
}

.item1 {
    align-self: flex-start;
}

.item2 {
    align-self: center;
}

.item3 {
    align-self: flex-end;
}

@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
}

button:hover {
    color: rgb(91, 91, 234);
}

button:active {
    color: rgb(62, 158, 108);
}

main * {
    color: black;
}